mixin projectSlide(object)
    .swiper-slide 
        a.project-preview.project-preview_link(href="apart.html")
            img.project-preview__img(src="../img/demo/test-img-2.jpg")
            .project-preview__heading=object.title
            .project-preview__intro=object.address
            .project-preview__chars
                .element.align-items-center
                    .element__icon
                        img.img-fluid(src="../img/icon/icon-room.svg")
                    .element__content=object.room
                .element.align-items-center
                    .element__icon
                        img.img-fluid(src="../img/icon/icon-plan.svg")
                    .element__content=object.plan
                .element.align-items-center
                    .element__icon
                        img.img-fluid(src="../img/icon/icon-floor.svg")
                    .element__content=object.floor
                if object.balcony
                    .element.align-items-center
                        .element__icon
                            img.img-fluid(src="../img/icon/icon-balcony.svg")
                        .element__content есть балкон
                else 
                    .element.element_disabled.align-items-center
                        .element__icon
                            img.img-fluid(src="../img/icon/icon-balcony.svg")
                        .element__content нет балкона
mixin projectFullSlide(object)
    .swiper-slide 
        .project-preview.project-preview_full
            .row
                .col-7.col-md-12
                    a(href="apart.html")
                        img.project-preview__img(src="../img/demo/project-full.jpg")
                .col-5.col-md-12
                    .project-preview_full__content
                        .project-preview__heading.project-preview_full__heading=object.title
                        .project-preview_full__intro=object.address
                        .project-preview_full__chars.mb-4.mb-sm-2
                            .element.align-items-center
                                .element__icon
                                    img.img-fluid(src="../img/icon/icon-room.svg")
                                .element__content=object.room
                            .element.align-items-center
                                .element__icon
                                    img.img-fluid(src="../img/icon/icon-plan.svg")
                                .element__content=object.plan
                            .element.align-items-center
                                .element__icon
                                    img.img-fluid(src="../img/icon/icon-bathroom.svg")
                                .element__content=object.bath
                            .element.align-items-center
                                .element__icon
                                    img.img-fluid(src="../img/icon/icon-floor.svg")
                                .element__content=object.floor
                            if object.balcony
                                .element.align-items-center
                                    .element__icon
                                        img.img-fluid(src="../img/icon/icon-balcony.svg")
                                    .element__content есть балкон
                            else 
                                .element.element_disabled.align-items-center
                                    .element__icon
                                        img.img-fluid(src="../img/icon/icon-balcony.svg")
                                    .element__content нет балкона
                        a.btn.btn_action(href="apart.html") Узнать больше