extends ../blocks/main.pug

block variables
    - var pageTitle = "Партнерская программа"
    - var inputs = [{"label":"Ваши Ф.И.О.","type":"text"},{"label":"Тип объекта","type":"text"},{"label":"Регион, в котором находится объект","type":"text"},{"label":"Общий метраж","type":"number"},{"label":"Состояние объекта","type":"text"},{ "label":"Пожелания по стоиомсти","type":""},{"label":"Контактный телефон","type":"tel","placeholder":"+7"}]

block content
    section.pt-2.pb-2.content
        .container
            .row.justify-content-between.align-items-center
                .col-5.col-xl-5.col-lg-6.col-md-12
                    h1 Удобная продажа недвижимости с&nbsp;DLK&nbsp;Group
                    p.lead.text-secondary.text-bolder.mb-2 DLK&nbsp;Group поможет вам продать вашу недвижимость.
                    p DLK Group поможет вам продать вашу недвижимость. Мы активно сотрудничаем не только с частными лицами, которые хотят продать свой объект, но и с инвесторами, которые регулярно реализуют свои объекты.
                    p Для того, чтобы продать через нас свой объект просим Вас заполнить анкету ниже или связаться по контактным номерам, расположенным после анкеты.  
                .col-6.col-xl-6.col-lg-6.col-md-12.mt-md-2
                    .row 
                        .col-6.col-xs-12
                            .content__image.content__image_circle(style="background-image:url('../img/demo/img1.png');")
                            .content__image.content__image_ellipse(style="background-image:url('../img/demo/img2.png');")
                        .col-6.d-xs-none
                            .content__image.content__image_arch(style="background-image:url('../img/demo/img3.png');")
    section.pt-2.pb-2.content
        .container
            .row.justify-content-between
                .col-4.col-lg-6.col-md-12
                    p.h2 Анкета продажи
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Gravida aliquam morbi lacinia maecenas. Nec feugiat elementum at augue sit. Placerat odio amet cursus morbi.
                    .d-md-none
                        p.mt-4.mb-2.lead.text-secondary.text-bolder Контактная информация для&nbsp;партнёров
                        .row 
                            .col-5.col-lg-12.mb-lg-2
                                p.content__contact-heading Телефон
                                a(href=tel.link).text-bolder.content__contact-item=tel.item
                            .col-7.col-lg-12
                                p.content__contact-heading E-mail
                                a(href=email.link).text-bolder.content__contact-item=email.item
                .col-8.col-lg-6.col-md-12.mt-md-2
                    .content__request.content__request_questionary
                        form.form(action="")
                            .row
                                for input in inputs
                                    .col-12.mb-lg-1.col-md-6.col-sm-12.mb-xs-0
                                        .row.align-items-center.justify-content-end
                                            .col-4.text-right.col-lg-12.text-lg-left
                                                label.text-secondary=input.label
                                            .col-8.col-lg-12
                                                input(type=input.type, placeholder=input.placeholder).input.input_line
                                .col-8.col-lg-12.col-md-6.col-sm-12.content__request-form-btn
                                    button.btn.btn_action(type="submit" style="width:100%;") Отправить запрос
            .d-none.d-md-block.content__contact-mobile
                p.mb-2.lead.text-secondary.text-bolder Контактная информация для&nbsp;партнёров
                .row 
                    .col-6
                        p.content__contact-heading Телефон
                        a(href=tel.link).text-bolder.content__contact-item=tel.item
                    .col-6
                        p.content__contact-heading E-mail
                        a(href=email.link).text-bolder.content__contact-item=email.item