//- Ссылки для header и footer
- var linksAdditional   = [{"link":"#","name":"Продавать","active":true},{"link":"#","name":"Передать клиента"},{"link":"#","name":"Доверительное управление"},{"link":"#","name":"Услуги"},{"link":"#","name":"Контакты"}]
- var linksMain         = [{"link":"#","name":"Аренда","active":true},{"link":"#","name":"Продажа"},{"link":"#","name":"Новостройки"},{"link":"#","name":"Коммерческая недвижимость"},{"link":"#","name":"Инвестиционные проекты"}]

- var address = "Санкт-Петербург, р-н Центральный, Литейный проспект, Шпалерная ул., 3"
//- - var work = "пн-пт 08.00 - 17.00 <br> сб 10.00 - 16.00 <br>  воскресенье — выходной"

mixin navLink(link,name,active,className)
    if active
        a(href=link class=className).nav__link.nav__link_active=name
    else
        a(href=link class=className).nav__link=name

header.header
    .header__additional
        .container
            menu.header__menu
                svg.header__burger(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M19.1921 15.3202H0.807891C0.361719 15.3202 0 15.6819 0 16.1281C0 16.5743 0.361719 16.936 0.807891 16.936H19.1921C19.6383 16.936 20 16.5743 20 16.1281C20 15.6819 19.6383 15.3202 19.1921 15.3202Z")
                    path(d="M19.1921 9.19208H0.807891C0.361719 9.19208 0 9.55376 0 9.99997C0 10.4462 0.361719 10.8079 0.807891 10.8079H19.1921C19.6383 10.8079 20 10.4462 20 9.99997C20 9.5538 19.6383 9.19208 19.1921 9.19208Z")
                    path(d="M19.1921 3.06403H0.807891C0.361719 3.06403 0 3.42574 0 3.87192C0 4.31809 0.361719 4.67981 0.807891 4.67981H19.1921C19.6383 4.67981 20 4.31809 20 3.87192C20 3.42574 19.6383 3.06403 19.1921 3.06403Z")
                a.header__logo.logo(href="index.html")
                    img.img-fluid(src="../img/global/logo.svg", alt="logo")
                nav.nav.nav_additional
                    for i in linksAdditional
                        +navLink(i.link, i.name, i.active,'nav__link_additional')
                .header__callbacks
                    a(href=tel.link).header__callbacks-item.d-none=tel.item
                    a.header__callbacks-item.btn.btn_additional.btn_secondary(href="javascript;" data-fancybox data-src="#callback") Заказать звонок
                    a.header__callbacks-item.btn.btn_networks(href="#")
                        <svg width="16" height="16" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.83274 8.11186L5.81389 13.0644L8.39307 10.4852L12.8152 14L15.9289 0L0 6.63493L3.83274 8.11186ZM11.3772 4.01674L6.50161 8.4638L5.89434 10.7525L4.77252 7.94743L11.3772 4.01674Z" fill="white"/>
                        </svg>
                    a.header__callbacks-item.btn.btn_networks(href="#")
                        <svg width="16" height="16" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.50187 0H7.49813C3.36281 0 0 3.36375 0 7.5C0 9.14062 0.52875 10.6613 1.42781 11.8959L0.493125 14.6822L3.37594 13.7606C4.56187 14.5463 5.97656 15 7.50187 15C11.6372 15 15 11.6353 15 7.5C15 3.36469 11.6372 0 7.50187 0Z" fill="#FCFCFC"/>
                            <path d="M11.8663 10.5909C11.6853 11.1018 10.9672 11.5256 10.3944 11.6493C10.0025 11.7327 9.49063 11.7993 7.76751 11.0849C5.56345 10.1718 4.14407 7.93211 4.03345 7.7868C3.92751 7.64149 3.14282 6.60086 3.14282 5.52461C3.14282 4.44836 3.68938 3.9243 3.9097 3.6993C4.09063 3.51461 4.3897 3.43024 4.67657 3.43024C4.76938 3.43024 4.85282 3.43492 4.92782 3.43867C5.14813 3.44805 5.25876 3.46117 5.40407 3.80899C5.58501 4.24492 6.02563 5.32117 6.07813 5.4318C6.13157 5.54243 6.18501 5.69243 6.11001 5.83774C6.0397 5.98774 5.97782 6.0543 5.8672 6.1818C5.75657 6.3093 5.65157 6.4068 5.54095 6.54368C5.4397 6.66274 5.32532 6.79024 5.45282 7.01055C5.58032 7.22618 6.02095 7.94524 6.6697 8.52274C7.50688 9.26805 8.18563 9.50618 8.42845 9.60743C8.60938 9.68243 8.82501 9.66461 8.9572 9.52399C9.12501 9.34305 9.3322 9.04305 9.54313 8.74774C9.69313 8.53586 9.88251 8.50961 10.0813 8.58461C10.2838 8.65493 11.3553 9.18461 11.5756 9.2943C11.7959 9.40493 11.9413 9.45743 11.9947 9.55024C12.0472 9.64305 12.0472 10.079 11.8663 10.5909Z" fill="#146565"/>
                        </svg>
    .header__main
        .container
            menu.header__menu
                nav.nav
                    for i in linksMain
                        +navLink(i.link, i.name, i.active)
                .header__phone
                    a(href=tel.link).header__link.text-bold=tel.item

            